* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,Arial,Lucida Grande,sans-serif;

}

body {
    background-color: #f1f2f4;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: static; */
}

nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 60px;


}

form, .cart, .seller{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form {
    border: none;
    background-color: #f0f5ff;
    border-radius: 10px;
    padding: 10px;

}


form img {
    width: 20px;
    height: 20px;
}

input {
    width: 33vw;
    /* height: 40px; */
    font-size: 17px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    word-spacing: 0px;
    border: none;
    background-color: transparent;
    margin: 0px 5px;
    
}


.login {
    width: auto;
    height: 41px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.login:hover {
    background-color: #2a55e5;
    color: #fff;    
}


.login .user-icon, .cart img, .seller img, .menu{
    width: 24px;
    height: 24px;
}

.down-arrow {
    width: 12px;
    height: 12px;
    box-shadow: none;
    text-decoration: none;
    border: none;
    margin: 0px 5px;
}

form img, .login .user-icon, .cart img, .seller img {
    margin-right: 10px;
}

.menu {
    cursor: pointer;
    /* margin-right: 50px; */
}



.categery-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.categery {
    width: 97%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.498);
    text-align: center;
}

.subcate {
    /* margin: 10px; */
    padding: 10px;
    width: 15%;
    margin: 10px 0px;
}

.subcate a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 540;
    text-align: center;
}

.subcate img {
    width: 64px;
    height: 64px;
    margin: 0px 0px;
    padding: 0px;
}

.subcate .down-arrow {
    width: 12px;
    height: 12px;
    outline: none;
    padding: 0px;
    margin-left: 5px;
}

.subcate a span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.banner-outer {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-section {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.banner-section .banner {
    width: 97%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.arrow-btn {
    position: absolute;
    width: 88px;
    height: 40px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px 5px 0px 0px;
}

 .left-btn {
    left: -.4%;
    transform: rotate(90deg);
}

.right-btn {
    right: -.4%;
    transform: rotate(-90deg);
}

.section-1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.section-1 {
    width: 97%;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.section {
    width: 83%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    /* row-gap: 10px; */
    /* background-color: blue; */
    /* margin-right: 10px; */
}

.section .title {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    /* box-sizing: content-box; */
}

.section .title p {
    font-weight: 550;
    font-size: 20px;
}

.section .title .view-more {
    background-color: #1c41d6;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.section .items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:  0px 15px 10px;
}

.section .items .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;;
    border-radius: 4px;
    background-color: #fff;
    margin: 5px;
    padding: 20px;
}

.section .items .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    font-size: 14px;
    /* margin-top: 5px; */
}

.section .items .item .info .name {
    font-weight: 500;
}

.section .items .item .info .price {
    font-weight: 600;
}

.section .items .item img {
    width: 100%;
}


.side-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    background-image: url("imges/side.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-shrink: 4;
    background-color: #fff;
}






.section-2 {
    width: 97%;
    margin-top: 15px;
    text-align: center;
}

.section-2 .items .item {
    height: 300px;
}

.section-2 .items .item .info {
    font-size: 14px;
}

.section-2 .items .item .img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.section-2 .items .item .img img {
    width: 100%;
    height: auto;
    background-size: cover;
}



footer{
    width: 100%;
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 15px;
    padding: 10px 10px;
    text-align: center;
}


footer .footer-1 {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* gap: 3rem; */
    line-height: 20px;
    margin: 20px 0px;
}

footer ul {
    list-style: none;
}


footer li {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
}

footer .box-title{
    color: #878787;
    margin: 5px 0px;
    font-weight: 300;
}

footer ul li img {
    margin: 0px 5px;
}

footer .footer-1 .box-5{
    border: 1px solid transparent;
    border-left-color: #3c424e;
    padding-left: 40px;
}

footer .footer-1 .box-5 li,.box-6 li{
    font-weight: 300;
}

footer .footer-2 {
    border-top: 1px solid #3c424e;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer-2 div {
    margin: 20px 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-weight: 300;
}